body {
	background: #cabfde;
	margin: 0;
	padding: 0;
}

ul {
	padding: 50px;
	margin: 0;
	border: 10px solid #fff;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

ul li {
	list-style: none;
	color: #fff;
	float: left;
	font-size: 5em;
	font-family: 'arial';
	transition: .9s;
}

ul .both {
	clear: both;
}

ul:hover li {
	transform: rotateY(360deg);
}

ul:hover li:nth-child(1) {
	transition-delay: .9s;
}

ul:hover li:nth-child(2) {
	transition-delay: .7s;
}

ul:hover li:nth-child(3) {
	transition-delay: .4s;
}

ul:hover li:nth-child(4) {
	transition-delay: .3s;
}

ul:hover li:nth-child(5) {
	transition-delay: .1s;
}